.App {
	text-align: center;
	background-color: #dae0e6;
	font-family: 'Courier New', Courier, monospace;
}
.Button_bar {
	margin-left: 1px;
	width: 100%;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 5px;
}

.Order_button {
	background-color: #f8f9fa;
	border-radius: 5px;
	border: #f8f9fa;
	padding: 5px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.Order_button-arrow {
	background-color: #f8f9fa;
	border: #f8f9fa;
}
.vote_count {
	background-color: #f8f9fa;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
}

.articlesList__article {
	list-style-type: none;
	text-align: center;
	width: 100%;
}

.articlesList {
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
	list-style-type: none;
	margin-bottom: 0.5rem;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}
.header-image {
	height: 50%;
	width: 50%;
	grid-area: main;
}

.navbar {
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'main side';
}

.individual_article {
	background-color: #ffffff;
	border-radius: 5px;
	border: #f8f9fa;
	padding: 5px;
	margin-bottom: 0.3rem;
}
.articleList_title {
	font-weight: bold;
}

.articlesList__article {
	text-align: left;
	display: grid;
	width: 100%;
	margin: 1em;
	padding: 1em 0.5em;
	display: flex;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'main side';
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f8f9fa;
	flex-wrap: wrap;
}

.individual_article_header {
	font-weight: bold;
}
.articleList_delete-button {
	background-color: #ffffff;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
	grid-area: button3;
}

.articleVote_count {
	background-color: #ffffff;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
	grid-area: button2;
}
.articleList_seemore-button {
	background-color: #ffffff;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1rem;
	color: black;
	text-decoration: none;
	grid-area: button1;
}

.articleList_button-container {
	display: grid;
	grid-template-areas: 'button1 button2 button3';
	grid-gap: 5px;
}

.Comments {
	background-color: #ffffff;
	border-radius: 5px;
	border-radius: 5px;
}

.comment_list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
}

.comment_cards {
	text-align: left;
	display: grid;
	width: 100%;
	margin: 1em;
	padding: 1em 0.5em;
	display: flex;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'main side';
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f8f9fa;
	flex-wrap: wrap;
	border-radius: 5px;
}

.commentList_button-container {
	display: grid;
	grid-template-areas: 'button1 button2 button3';
	grid-gap: 5px;
}

.CommentVotes_count {
	background-color: #ffffff;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
	grid-area: button1;
}

.commentList_delete-button {
	background-color: #ffffff;
	border: #f8f9fa;
	border-radius: 5px;
	padding: 5px;
	grid-area: button3;
}

.Add_article {
	margin-left: 1px;
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 0.3rem;
}
.Add_Topic {
	margin-left: 1px;
	width: 100%;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 0.2rem;
	align-items: center;
	min-width: fit-content;
}
.postButton {
	border-radius: 5px;
	padding: 5px;
	background-color: #f8f9fa;
	border: 1px solid #ced4da;
}
.pagination {
	display: grid;
	grid-template-areas: 'button1 button2 button3';
	grid-gap: 5px;
	margin-top: 0.5rem;
	width: 100%;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 2rem;
	align-items: center;
	min-width: fit-content;
}
.pagination_prevpage {
	grid-area: button1;
	border-radius: 5px;
	padding: 5px;
	background-color: #f8f9fa;
}
.pagination_nextpage {
	grid-area: button3;
	border-radius: 5px;
	padding: 5px;
	background-color: #f8f9fa;
}

@media only screen and (min-width: 768px) {
	.articleList {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.comment_list {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
