.App {
	text-align: center;
}
.topic__list {
	list-style-type: none;
	border: 2px solid orange;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.articlesList__article {
	text-align: center;
	display: grid;
	width: 500px;
	margin: 1em;
	padding: 1em 0.5em;
	display: flex;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'main side';
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	flex-wrap: wrap;
	border: 2px solid blue;
}

.articlesList {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}
.comment_list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}

.comment_cards {
	text-align: center;
	display: grid;
	width: 500px;
	margin: 1em;
	padding: 1em 0.5em;
	display: flex;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'main side';
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	flex-wrap: wrap;
	border: 2px solid pink;
.Login {
	border: 2px solid green;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'left right';
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
	.articleList {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.comment_list {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
